@model IEnumerable<core_mvc_6_crud.Models.Transaction>

@{
    ViewData["Title"] = "Index";
}

<div class="row>
    <div class="col-md-10 offset-md-2">
        <h1>Index transaction</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AccountNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BeneficiaryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BankName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                <a asp-action="AddorEdit" class="btn btn-sm btn-success">
                    <i class="fa-solid fa-plus"></i> New
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BeneficiaryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BankName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>



                            <form asp-action="Delete" asp-route-id="@item.TransactionId">
                                <div class="btn-group" role="group" aria-label="Basic outlined example">

                                    <a asp-action="AddorEdit" asp-route-id="@item.TransactionId" class="btn btn-warning">
                        <i class="fa-solid fa-user-pen"></i>
                                    </a>
                    <a asp-action="Details" asp-route-id="@item.TransactionId" class="btn btn-primary">
                        <i class="fa-solid fa-info"></i>
                                    </a>

                                    <button type="submit" class="btn btn-danger"
                                        onclick="return confirm('Đồng ý xoá bản ghi này?')">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                </div>



                            </form>
                        @* <a asp-action="Delete" asp-route-id="@item.TransactionId" class="btn btn-danger">
                       <i class="fa-solid fa-trash"></i>
                            </a>*@
                </td>
            </tr>
        }
    </tbody>
</table>

    </div>
</div>
